<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10"></script>
    <!-- Importing lessons.js file -->
    <script src="lessons.js"></script>

    <link rel="stylesheet" href="style.css">
    <title>CST3145-Coursework 2</title>
</head>

<body>
    <header>
        <a href="#" class="logo"><i class="fas fa-school" style="font-size: 25px;background: -webkit-linear-gradient(#c9bd1e, #42b1dd);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">&nbsp ASL</i></a>
        <h1>After School Lessons</h1>
    </header>   
        <div class="container mt-5" id="app">
        <div class="row align-content-lg-center">
        <!-- Checkout button -->
        <button v-on:click="showCheckout" v-if="enableCheckout" class="btn-checkout btn-primary mt-5 py-2 col-7">{{ cartItemAmount }}<span class="fas fa-cart-plus"></span> Checkout </button>
             <!-- This will show the lessons -->
             <div v-if="showLesson" class="col-15 col-md-6">
                <br>                   
                <!-- Creates search bar
                  Vue.js will update the field every time there is a change -->
                  <div class="searchBox">
                    <p>
                        Search:
                        <!-- <input type="text" class="searchInput" v-model="searchTerm" /> -->
                        <input type="text" class="searchInput" v-model="search" placeholder="Search..." />
                    </p>
                </div>
                <div id="sort-bar">     
                    <!-- These are the sort options-->
                 
                    <p>Sort by:</p>
                  <!-- Subject -->
                  <input type="radio" id="subject" name="subject" v-model='sortValue' value="subject">
                  <label for="subject">Subject</label><br>
                  <!-- Price -->
                  <input type="radio" id="price" name="price" v-model='sortValue' value="price">
                  <label for="price">Price</label><br>
                  <!-- Location -->
                  <input type="radio" id="location" name="location" v-model='sortValue' value="location">
                  <label for="location">Location</label><br>
                  <!-- Available Spaces-->  
                  <input type="radio" id="availability" name="availability" v-model='sortValue' value="availability">
                  <label for="availability">Availability</label><br><br>
             
                  <br>        
                  <button v-on:click="ascending = !ascending" class="btn btn-primary btn-sm col-4">
                    <i v-if="ascending" class="fa fa-sort-up"> Descending</i>
                    <i v-else class="fa fa-sort-down"> Ascending</i>
                  </button>
                
                </div>
                  <!-- v-if for the search functionality-->
                <div v-if="search !== ''">
                  <!-- v-for loop will be used to display lessons fitting the search catergory-->
                  <div v-for="lesson in lessonFilterBar" class="border-body px-5 py-4 rounded shadow-sm">
                    <div class="row">
                      <div class="col-8">
                          <h2 v-text="lesson.subject">Subject: </h2>
                          <p><b>Location:</b> {{ lesson.location }}</p>
                          <p><b>Price:</b> {{ lesson.price }}</p>                          
                          <p>
                            <b>Available Spaces:</b>
                              <span v-if="lesson.numberOfSpaces - cartCount(lesson.id) > 0">Only {{lesson.numberOfSpaces - cartCount(lesson.id)}} left!</span>
                              <span v-else-if="lesson.numberOfSpaces - cartCount(lesson.id) === 0">All out!</span>
                          </p>
                          <span v-else>order now!</span>
                          <!-- addClass(lesson) - specify ID for the cart -->
                          <button type="button" v-on:click="addClass(lesson)" v-bind:disabled="!canAddClass(lesson)" class="btn btn-primary btn-sm px-4 mt-3">
                            Add to cart
                          </button>
                        </div>
                        <div class="col-4">
                          <img v-bind:src="lesson.image" alt="" class="img-fluid mb-3">
                        </div>
                      </div>
                   </div>
                </div>
   
                <div v-else>    
                  <!-- v-if for displaying main page with lessons -->
                  <div v-for="lesson in lessonFilter" class="border-body px-5 py-4 rounded shadow-sm">
                  <!-- v-for loop for displaying all lessons -->
                    <div class="row">
                      <div class="col-8">
                          <h2 v-text="lesson.subject">Subject: </h2>
                          <p><b>Location:</b> {{ lesson.location }}</p>
                          <p><b>Price:</b> {{ lesson.price }}</p>  
                          <p>
                            <b>Available Spaces:</b>
                              <span v-if="lesson.numberOfSpaces - cartCount(lesson.id) > 0">Only {{lesson.numberOfSpaces - cartCount(lesson.id)}} left!</span>
                              <span v-else-if="lesson.numberOfSpaces - cartCount(lesson.id) === 0">All out!</span>
                          </p>
                          <span v-else>Order now!</span>
                          <!-- addClass(lesson) - specify ID for the cart -->
                          <button type="button" v-on:click="addClass(lesson)" v-bind:disabled="!canAddClass(lesson)" class="btn btn-primary btn-sm px-4 mt-3">
                            Add to cart
                          </button>
                        </div>
                        <div class="col-4">
                          <img v-bind:src="lesson.image" alt="" class="img-fluid mb-3">
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- This is the Checkout page -->
                <div class="col-12 col-md-6" v-else="showLesson">
                  <br>
                  <div class="border-body px-5 py-4 rounded shadow-sm">      
                      <div class="row">                    
                        <div class="col-12">
                          <br>
                          <h2> 🛒 Shopping Cart Information 🛒 </h2>
                          <br>
                          <form @submit.prevent="submitForm" autocomplete="off">      
                          <p>
                            <strong>First and Last Name: *</strong>
                            <br>
                            <!-- This input field is bound to the "first_lastName" in th 'order' object -->
                            <input type="text" v-model.trim="order.first_lastName" id="order.first_lastName" @keypress="isLetter($event) "/>
                            <p v-if="!first_lastNameValidity">This field is required!</p>
                          </p>
                           <p>
                            <strong>Phone Number: *</strong>
                            <br>
                            <input v-model.number.trim="order.phoneNumber" id="order.phoneNumber" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                            <p v-if="!phoneNumberValidity">This field is required!</p>
                          </p>
                          <button :disabled="!formValidity" class="btn btn-primary">Place Order</button>        
                          <br>
                          </form>
                          <br>
                          <h2>Order information:</h2>
                          <p>First and Last Name: {{order.first_lastName}}</p>
                          <p>Phone Number: {{order.phoneNumber}}</p>
                            <div class="border-body px-5 py-4 rounded shadow-sm" v-for="lesson in lessons" v-if="cartCount(lesson.id) > 0">
                            <span v-text="lesson.subject"></span>                             
                            <span v-text="showInCart(lesson,lesson.id)"></span>
                            <span v-if="cartCount(lesson.id) > 0">x</span>
                            <span v-text="cartCount(lesson.id)"></span>
                            <br>
                                AED
                            <span v-text="lesson.price"></span>
                            <br> 
                        <div class="col-6">
                          <img v-bind:src="lesson.image" alt="" class="img-fluid mb-3">
                         <div class="row-8">
                        </div>
                        </div>
                            <button class="btn btn-primary btn-sm col-4" v-text="inCartButton" v-if="cartCount(lesson.id) > 0" @click="takeOutFromCart(lesson)"></button>
                          </div>
        
                          <br>

                      </div>
                  </div>
                </div>
              </div>

            </div>
            </div>

            <script>
              let webstore = new Vue ({
                  el: '#app',
                  data: {
                      sitename: 'Al-Ilm School',
                      lessons: [],
                      name: '',
                      phone: '',
                      // Stores cart items
                      cart: [],
                      showLesson: true,
                      // Stores user input and selection
                      sortBy: 'Default',
                      sortOrder: 'Ascending',
                      search: '',
                  },
      
                  created: 
                  function() {
                      console.log('requesting data from server...')
      
                      fetch('http://localhost:3000/lessons').then(
                          function(response) {
                              response.json().then(
                                  function(data) {
                                      webstore.lessons = data;
                                      console.log(data);
                                  }
                              )
                          }
                      )
                  },
                  methods: {
                      // Submits order
                      submitOrder() {
                          let order = {
                          name: this.name,
                          phone: this.phone,
                          lessons: this.cart
                          }
                          fetch('http://localhost:3000/orders', {
                              method: "POST",
                              body: JSON.stringify(order),
                              headers: {
                                  "Content-type": "application/json; charset=UTF-8"
                              }
                          })
                          // .then(response => response.json())
                          // .then(json_response => {
                          //     console.log(json_response)
                          //     // this.update()
                          // })
                          // .catch(err => console.log(err))
                          this.update()
                          },
                      // Updates records
                          update() {
                              let updatedLesson = []
                              let updatedSpace = []
                              // let updatedLessons = []
                              for (i = 0; i < this.cart.length; i++) {
                                  for (j = 0; j < this.lessons.length; j++) {
                                      if (this.cart[i].id == this.lessons[j]._id) {
                                          updatedLesson.push(this.cart[i].id)
                                          let item = {}
                                          item.Space = this.lessons[j].Space
                                          updatedSpace.push(item)
                                      }
                                  }
                              }
                              console.log(updatedLesson[0])
                              console.log(updatedSpace[0])
                              for (let index = 0; index < updatedLesson.length; index++) {
                                  let newSpace = (JSON.stringify(updatedSpace[index]))
                              fetch('http://localhost:3000/lessons/'+ updatedLesson[index], {
                                  method: "PUT",
                                  body: newSpace,
                                  headers: {
                                      "Content-type": "application/json; charset=UTF-8"
                                  }
                              })
                                  .then(res => res.json())
                                  .then(res => {
                                      console.log(res)
                                  })
                                  .catch(err => console.log(err))
                              }
                              this.cart.splice(0,this.cart.length)
                              this.name = ''
                              this.phone = ''
                          },
                      // Checks if lesson is already in cart or not
                      getCartItem(lesson) {
                          for (i = 0; i < this.cart.length; i++) {
                              if(this.cart[i].id === lesson._id) {
                                  return this.cart[i]
                              }
                          }
                          return null
                      },
                      // Adds lesson to cart
                      addToCart (lesson) {
                          let cartItem = this.getCartItem(lesson);
                          //If item is already in cart, then increase quantity. If not, push lesson to cart
                          if (cartItem != null) {
                              cartItem.quantity++;
                          } else {
                              let item = {}
                              item.id = lesson._id
                              item.name = lesson.Subject
                              item.price = lesson.Price
                              item.quantity = 1
                              this.cart.push(item);
                          }
                          lesson.Space--;
      
                      },
                      // Removes lesson from cart and adds the quantity back to lesson Space
                      removeItem(item) {
                          for (i = 0; i < this.lessons.length; i++) {
                              if(this.lessons[i]._id === item.id) {
                                  this.lessons[i].Space+=item.quantity
                                  let itemIndex = this.cart.indexOf(item);
                                  this.cart.splice(itemIndex, 1);  
                              }
                          }  
                      },
                      // Removes one space from the item quantity
                      removeSpace(item) {
                          if (item.quantity === 1) {
                              this.removeItem(item)
                          }
                          else {
                              for (i = 0; i < this.lessons.length; i++) {
                              if(this.lessons[i]._id === item.id) {
                                  this.lessons[i].Space++
                                  item.quantity--
                              }
                          }
                          }
                      // Adds one space from the item quantity  
                      },
                      addSpace(item) {
                          for (i = 0; i < this.lessons.length; i++) {
                              if(this.lessons[i]._id === item.id) {
                                  this.lessons[i].Space--
                                  item.quantity++
                              }
                          }
                      },
                      // Checkout page toggle
                      showCheckout: function() {
                          this.showLesson = this.showLesson? false: true;
                      },
                      // Filters lessons based on user input
                      searchLessons() {
                          if (this.search.length > 0) {
                              fetch(`http://localhost:3000/lessons/search/${this.search}`)
                      .then(res => {
                          return res.json()
                      })
                      .then(data => {
                          this.lessons = data
                      })
                      .catch(err => {
                          this.lessons = []
                          console.log(`unable to get lessons: ${err}`)
                      })
                          }
                      },
                      // Sort Lessons based on user selection
                      sortLessons() {
                          if (this.sortBy == 'Default') {
                              this.lessons.sort((a,b) => {
                                  if (a.id < b.id) {
                                      return -1
                                  }
                                  if (a.id > b.id) {
                                      return 1 
                                  }
                                  return 0
                              })
                          }
                          else if (this.sortBy == 'Subject' && this.sortOrder == 'Ascending'){
                              this.lessons.sort((a,b) => {
                                  let fa = a.Subject.toLowerCase(), fb = b.Subject.toLowerCase()
                                  if (fa < fb) {
                                      return -1
                                  }
                                  if (fa > fb) {
                                      return 1 
                                  }
                                  return 0
                              })
                          }
                          else if (this.sortBy == 'Subject' && this.sortOrder == 'Descending'){
                              this.lessons.sort((a,b) => {
                                  let fa = a.Subject.toLowerCase(), fb = b.Subject.toLowerCase()
                                  if (fa < fb) {
                                      return 1
                                  }
                                  if (fa > fb) {
                                      return -1 
                                  }
                                  return 0
                              })
                          }
                          else if (this.sortBy == 'Location' && this.sortOrder == 'Ascending'){
                              this.lessons.sort((a,b) => {
                                  let fa = a.Location.toLowerCase(), fb = b.Location.toLowerCase()
                                  if (fa < fb) {
                                      return -1
                                  }
                                  if (fa > fb) {
                                      return 1 
                                  }
                                  return 0
                              })
                          }
                          else if (this.sortBy == 'Location' && this.sortOrder == 'Descending'){
                              this.lessons.sort((a,b) => {
                                  let fa = a.Location.toLowerCase(), fb = b.Location.toLowerCase()
                
                                  if (fa < fb) {
                                      return 1
                                  }
                                  if (fa > fb) {
                                      return -1 
                                  }
                                  return 0
                              })
                          }
                          else if (this.sortBy == 'Price' && this.sortOrder == 'Ascending'){
                              this.lessons.sort((a,b) => {
                                  if (a.Price < b.Price) {
                                      return -1
                                  }
                                  if (a.Price > b.Price) {
                                      return 1 
                                  }
                                  return 0
                              })
                          }
                          else if (this.sortBy == 'Price' && this.sortOrder == 'Descending'){
                              this.lessons.sort((a,b) => {
                                  if (a.Price < b.Price) {
                                      return 1
                                  }
                                  if (a.Price > b.Price) {
                                      return -1 
                                  }
                                  return 0
                              })
                          }
                          else if (this.sortBy == 'Availability' && this.sortOrder == 'Ascending'){
                              this.lessons.sort((a,b) => {
                                  if (a.Space < b.Space) {
                                      return -1
                                  }
                                  if (a.Space > b.Space) {
                                      return 1 
                                  }
                                  return 0
                              })
                          }
                          else if (this.sortBy == 'Availability' && this.sortOrder == 'Descending'){
                              this.lessons.sort((a,b) => {
                                  if (a.Space < b.Space) {
                                      return 1
                                  }
                                  if (a.Space > b.Space) {
                                      return -1 
                                  }
                                  return 0
      
                              })
                          }
                      },
                  },
                  computed: {
                      // Returns number of items in cart
                      cartItemCount: function(){
                          return this.cart.length
                       },
                       // Checkout button enables when cart lenght is more than 0
                      enableCheckout: function() {
                          return this.cart.length > 0
                       },
                      // Validates user input using regular expressions
                      enableSubmit: function() {
                          let isnum = /^\d+$/.test(this.phone);
                          let isletter = /^[A-Za-z\s]*$/.test(this.name);
                          return isnum == true && isletter == true
                       },
                      // Calculates total value of cart
                      subTotal: function() {
                          let subTotal = 0;
                          for (let i = 0; i < this.cart.length; i++) {
                              subTotal += this.cart[i].quantity * this.cart[i].price;
                          }
                          return subTotal;
                          },
                  }
              });
          </script>  
      </body>
      </html>